:root{
  --white:#f8f8f8;
  --red:#c44e3b;
}
body {
  background-color:var(--white);
  font-family: sans-serif;
  overflow-x:hidden;
  margin: 0px;
}

/* General */
.stripe {
    background-color: var(--red);
    height:15px;
}

/* Navigation */
.nav-wrapper {
    grid-template-columns:50% 50%;
    padding: 38px;
    display: grid;
}
.nav-wrapper .right-side{
  text-align:right;
}
.nav-wrapper h1{
    font-size: 130px;
    color: var(--red);
    padding-right: 10px;
    display: inline;
    padding: 10px;
    font-size: calc(18px + 8vw);
}
.nav-wrapper .logo{
  width:125px;
}
.nav-wrapper .github{
  width:75px;
}

@media only screen and (max-width:1000px) {
  .nav-wrapper > .left-side,.nav-wrapper > .right-side{
    text-align:center;
  }
  .nav-wrapper .left-side *{
    display:block;
  }
  .nav-wrapper .left-side img{
    transform:translateX(-50%);
    position:relative;
    left:50%;
  }
  .nav-wrapper {
    grid-template-columns: 100%;
  }
}

/* Overview */
.overview h1 {
    font-size: 40px;
    align-self: left;
    color: var(--white);
    text-align: left;
}
.overview p {
    position:relative;
    font-size: 20px;
    color: var(--white);
}
.overview {
    background-color: var(--red);
    position:relative;
    padding:10px 12%;
}

@media only screen and (max-width:1000px){
    .overview {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Usage */
.usage h1 {
    font-size:40px;
    color:black;
}
.usage {
    background-color:var(--white);
    padding:15px 12%;
}
.usage > p{
  padding-bottom: 20px;
  font-size:20px;
  color:black;
}
.arg-output {
  transform:translateX(-50%);
  background-color:#cccccc;
  margin-bottom:50px;
  position:relative;
  border-radius:8px;
  padding:4px 24px;
  font-size:20px;
  width:80%;
  left:50%;
}

@media only screen and (max-width:1000px){
    .usage {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Layout */
.layout h1 {
  text-align:center;
  color:var(--white);
  padding-left:35px;
  font-size:40px;
}
.layout {
    background-color: var(--red);
    padding-top:15px;
}
.layout-grid{
    grid-template-columns:50% 50%;
    display:grid;
    width: 100vw;
}

.layout .content {
    padding:0 35px 15px 10px;
    color:var(--white);
    font-size: 20px;
}
.layout img{
    width:100%;
}

@media only screen and (max-width:1000px){
    .layout .layout-grid.small-enabled{
        grid-template-columns:100%;
    }
}

/* Who uses section */
.uses{
    background-color: var(--white);
}
.uses h1{
  text-align:center;
  font-size:40px;
  padding:40px;
  color:black;
}
.uses .images-grid{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  display:grid;
}
.images-grid .info img{
  max-width:80%;
  margin-bottom:50px;
  height:200px;
}
@media only screen and (max-width:1000px){
  .uses .images-grid.small-enabled{
    grid-template-columns:100%;
  }
}

/* Footer */
.footer {
  background-color:black;
  text-align: center;
  color:var(--white);
  padding:15px 0;
}
