body {
  font-family:sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    /*color: grey;*/
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: rgb(14, 7, 7);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

.overview h1 {
    font-size: 40px;
    align-self: left;
    color: black;
}

.overview p {
    font-size: 20px;
    align-self: left;
    color: black;
}

.overview {
    background-color: #c44e3b;
    text-align: center;
}

.usage h1 {
    font-size: 40px;
    align-self: left;
    color: black;
}

.usage {
    background-color: #c44e3b;
}
.layout {
    background-color: #c44e3b;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;

}

.heading {
    background-color: #c44e3b;
}
.heading h1 {
    font-size: 40px;
    align-self: left;
    color: black;
}

.layout .ImgBox img {

    width: 800px;
    height: 300px;
}

.layout .content h2{
    margin: 0;
    padding-left: 0;
    color: #0e0b0c;
}

.layout .content p {
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
    font-size: 15px;
    color: cornsilk;
}

.layout-grid{
  grid-template-columns:50% 50%;
  display:grid;
}

.info {
    margin: 100px;
    border: 10px solid #ccc;
}

.info img {
    height: 200px;
    align-content: space-between;
}

.uses {
    background-color: #c44e3b;
}
.uses h1 {
    font-size: 40px;
    align-self: left;
    color: black;
}
.uses .images-grid{
  grid-template-columns:33% 34% 33%;
  display:grid;
}

.footer {
    text-align: center;
    text-size-adjust: 40px;
    background-color: black;
    color:white;
}
